pandas
numpy
scikit-learn
xgboost
lightgbm
mlflow
fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
prometheus-client
evidently
matplotlib
pytest
python-dotenv
pyarrow
ruff
datasets
tabulate
ipykernel
seaborn